<div class="d-flex justify-content-between bg-light mb-4 border-bottom align-items-center">
  <h4><%= link_to "Flats", flats_path, class:"text-decoration-none text-secondary" %></h4>
  <h2><%= link_to "New flat", new_flat_path, class: "btn btn-inverse text-secondary" %></h2>
</div>
